.header {
    width: 100%;
    height: 100px;
    
    background-color: mediumblue;
    font-family: 'Staatliches', cursive;
    color: aliceblue;
    
    position: absolute;
    top: 0;
    
    .github-icon {
        margin-left: 20px;
        transform: scale(4);
        
        color: black;
    }
}