.App {
  text-align: center;
}

.car-control-btn-box {
  width: 400px;
  height: 360px;
  background-color: cornsilk;
  border-radius: 50px;
  
  position: absolute;
  top: 200px;
  right: 200px;
  
  .btn-control {
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }
  
  .-up {
    position: relative;
    top: 60px;
    right: -117px;
  }
  
  .-left {
    position: relative;
    top: 140px;
    right: 50px;
  }
  
  .-right {
    position: relative;
    top: 140px;
    left: 50px; 
  }
  
  .-bottom {
    position: relative;
    top: 215px;
    right: 113px;
  }
}